<div class="my-4 flex gap-4">
    <div class="bg-white w-1/2 rounded-lg p-4">
        <p class="text-xl font-normal">KYC Upload</p>
        <div class="flex w-1/3 p-2 bg-green-100 rounded-3xl">
            <button class="py-2 px-4 text-gray-700 font-semibold rounded-lg focus:outline-none"
                [ngClass]="{ 'bg-green-500 text-white': selectedTab === 'Individual' }"
                (click)="selectTab('Individual')">
                Individual
            </button>
            <button class="py-2 px-4 text-gray-700 font-semibold rounded-lg focus:outline-none"
                [ngClass]="{ 'bg-green-500 text-white': selectedTab === 'Password' }" (click)="selectTab('Password')">
                Business
            </button>
        </div>
        <div *ngIf="selectedTab === 'Individual'">
            <p>Kindly make sure you have all the required documents ready to complete the verification process</p>

            <div class="flex gap-2 "><svg xmlns="http://www.w3.org/2000/svg" width="32px" height="32px"
                    viewBox="0 0 24 24">
                    <path fill="black" d="m10 15.17l9.192-9.191l1.414 1.414L10 17.999l-6.364-6.364l1.414-1.414z" />
                </svg>
                <p class="text-xl m-0 p-0 font-bold">Passport Photograph</p>
                <svg xmlns="http://www.w3.org/2000/svg" width="32px" height="32px" viewBox="0 0 24 24">
                    <path fill="black"
                        d="M10.5 15.25A.74.74 0 0 1 10 15l-3-3a.75.75 0 0 1 1-1l2.47 2.47L19 5a.75.75 0 0 1 1 1l-9 9a.74.74 0 0 1-.5.25" />
                    <path fill="black"
                        d="M12 21a9 9 0 0 1-7.87-4.66a8.7 8.7 0 0 1-1.07-3.41a9 9 0 0 1 4.6-8.81a8.7 8.7 0 0 1 3.41-1.07a8.9 8.9 0 0 1 3.55.34a.75.75 0 1 1-.43 1.43a7.6 7.6 0 0 0-3-.28a7.4 7.4 0 0 0-2.84.89a7.5 7.5 0 0 0-2.2 1.84a7.42 7.42 0 0 0-1.64 5.51a7.4 7.4 0 0 0 .89 2.84a7.5 7.5 0 0 0 1.84 2.2a7.42 7.42 0 0 0 5.51 1.64a7.4 7.4 0 0 0 2.84-.89a7.5 7.5 0 0 0 2.2-1.84a7.42 7.42 0 0 0 1.64-5.51a.75.75 0 1 1 1.57-.15a9 9 0 0 1-4.61 8.81A8.7 8.7 0 0 1 12.93 21z" />
                </svg>
            </div>

            <div class="flex gap-2 "><svg xmlns="http://www.w3.org/2000/svg" width="32px" height="32px"
                    viewBox="0 0 24 24">
                    <path fill="black" d="m10 15.17l9.192-9.191l1.414 1.414L10 17.999l-6.364-6.364l1.414-1.414z" />
                </svg>
                <p class="flex flex-col text-xl m-0 p-0 font-bold">Valid means of identification <span>(Int. Passport,
                        Voter&apos;s
                        Card, Driver&apos;s License)</span></p>
                <svg xmlns="http://www.w3.org/2000/svg" width="32px" height="32px" viewBox="0 0 24 24">
                    <path fill="black"
                        d="M10.5 15.25A.74.74 0 0 1 10 15l-3-3a.75.75 0 0 1 1-1l2.47 2.47L19 5a.75.75 0 0 1 1 1l-9 9a.74.74 0 0 1-.5.25" />
                    <path fill="black"
                        d="M12 21a9 9 0 0 1-7.87-4.66a8.7 8.7 0 0 1-1.07-3.41a9 9 0 0 1 4.6-8.81a8.7 8.7 0 0 1 3.41-1.07a8.9 8.9 0 0 1 3.55.34a.75.75 0 1 1-.43 1.43a7.6 7.6 0 0 0-3-.28a7.4 7.4 0 0 0-2.84.89a7.5 7.5 0 0 0-2.2 1.84a7.42 7.42 0 0 0-1.64 5.51a7.4 7.4 0 0 0 .89 2.84a7.5 7.5 0 0 0 1.84 2.2a7.42 7.42 0 0 0 5.51 1.64a7.4 7.4 0 0 0 2.84-.89a7.5 7.5 0 0 0 2.2-1.84a7.42 7.42 0 0 0 1.64-5.51a.75.75 0 1 1 1.57-.15a9 9 0 0 1-4.61 8.81A8.7 8.7 0 0 1 12.93 21z" />
                </svg>
            </div>
        </div>
    </div>
    <div class="bg-white w-1/2 rounded-lg p-4">

        <label for="passport-photo" class="block">Upload a recent photo.</label>
        <div class="border-dashed border-2 border-gray-400 rounded-lg p-4" (drop)="onFileDrop($event)"
            (dragover)="onDragOver($event)">
            <input id="passport-photo" type="file" accept="image/*" class="hidden" (change)="onFileChange($event)" />
            <p class="text-center" (click)="triggerFileInput()">Click or drag to upload</p>
        </div>
    </div>


</div>